<nav>
  <div class="nav-wrapper white">
    <a href="#" class="brand-logo left deep-purple-text text-lighten-1">Babble</a>
    <ul id="nav-mobile" class="right">
      <%= render 'devise/menu/login_items' %>
      <%= render 'devise/menu/registration_items' %>
    </ul>
  </div>
</nav>
