<div id="root">
  <%= render "navbar" %>

  <div class="splash-page">
    <div class="title-list">
      <div class="feature">Featured Games</div>
    </div>
    <div class="games">
      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/Hearthstone:%20Heroes%20of%20Warcraft-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/Dota%202-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/H1Z1:%20King%20of%20the%20Kill-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/Counter-Strike:%20Global%20Offensive-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/FIFA%2017-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/Overwatch-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/Minecraft-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/Town%20of%20Salem-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/World%20of%20Warcraft-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/Subnautica-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>

      <a class="tile" href="/messages">
        <img src="https://static-cdn.jtvnw.net/ttv-boxart/Arma%203-272x380.jpg">
        <p class="global-chat">Global Chat</p>
        <p class="users">10,000 users</p>
      </a>
    </div>
  </div>
</div>
