<%= form_for @message, remote: true, authenticity_token: true do |f| %>
  <%= f.text_area :text %>

  <div class="actions">
    <button class="btn waves-effect waves-light deep-purple lighten-1" type="submit" name="action">Chat
    </button>
  </div>
<% end %>
