<%= form_for @message, url: '#', html: {class: "chat-interface"} do |f| %>
  <%= f.text_area :text %>
  <div class="actions">
    <button class="btn waves-effect waves-light deep-purple lighten-1" type="submit" name="action">Chat
    </button>
  </div>
<% end %>
