<h1>Message#index</h1>
<p>Find me in app/views/message/index.html.erb</p>
<div id="messages">
  <% @messages.each do |message| %>
    <ul>
      <li><%= message.user.name + ' : ' + message.text %></li>
    </ul>
  <% end %>
</div>
