<div id="chat-room">
  <div class="title"><p>Babble Chat</p></div>

  <div class="messages"></div>
  
  <div class="chat-interface">
    <input type="text" name="" value=""><br>
    <button type="button" name="button">Chat</button>
  </div>
</div>
