// Place all the styles related to the Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat-room
  height: 100%
  width: 340px
  float: right
  background-color: #efeef1

.messages
  height: calc(100% - 50px - 111px)
  overflow-y: scroll

.message
  font-size: 12px
  line-height: 20px
  padding: 6px 20px
  margin: -3px 0
  word-wrap: break-word

.chat-interface
