// Place all the styles related to the Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat-room
  height: 100%
  width: 340px
  float: right
  background-color: #efeef1

.messages
  height: calc(100% - 50px - 111px)
  overflow-y: scroll

.message
  font-size: 12px
  line-height: 20px
  padding: 6px 20px
  margin: -3px 0
  word-wrap: break-word

.chat-interface
  height: 111px
  padding: 0 20px 20px

#message_text
  color: #706a7c
  padding: 7px 25px 7px 7px
  margin-bottom: 5px
  background-color: white
  border: 1px solid #dad8de
  font-size: 12px
  resize: none
  outline: none

#message_text:focus, #message_text:active
  box-shadow: 0 0 3px rgba(100,65,164,.2)
  border: 1px solid #cbc8d0

.chat-button
  height: 30px
  width: 45px
  float: right
  color: white
  background-color: #6441a4
  border: none
  font-size: 12px

.chat-button:focus
  outline: none
  box-shadow: 0 0 6px 0 #7d5bbe,inset 0 0 0 1px #b19dd8

.chat-button:hover, .chat-button:focus
  text-decoration: none
  background-color: #7d5bbe
